body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    position: relative;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.box {
    width: 100%;
    max-width: 250px;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.quiz-box {
    background-color: #f5f5f5;
}

.test-box {
    background-color: #e8ab78;
}

.result-box {
    background-color: #cf9898;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

a#forgotPassword {
    display: block;
    margin: 10px 0;
    color: #007bff;
    text-decoration: none;
}

a#forgotPassword:hover {
    text-decoration: underline;
}

#logoutButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4b4b;
}

#logoutButton:hover {
    background-color: #e04343;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 80%;
        max-width: none;
    }
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}